*{
  margin: 0px;
  padding: 0px;
  font-family:'Arial Narrow Bold', sans-serif;
}
.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.845);  /* Arrière-plan sombre */
  z-index: 999;  /* Assurez-vous qu'il soit au-dessus de tout le reste */
}



body{
  background-color: #eaeded;
  padding-top: 60px;
  padding: 50px;
  overflow: hidden;

}
#title-home-page{
  text-align: center;
}
#forms-habits{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  /* flex-wrap: wrap; */
  padding-top: 70px;
  
}
#forms-habits #row-1{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 20px;
  flex:30%;
}
#forms-habits form{
  min-width: 400px;
  max-width: 400px ;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #cbcbcb83;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

#forms-habits .containe-crud{
  min-width: 400px;
  max-width: 400px ;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #cbcbcb83;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

#forms-habits .containe-crud .contain-crud-habits{
  padding: 10px 15px;
  border:  1px solid rgba(190, 190, 190, 0.796);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#forms-habits .containe-crud .contain-crud-habits h1{
  flex: 1;
  font-size: 18px;

}
#forms-habits .containe-crud .contain-crud-habits .btns-crud{
  display: flex;
  gap: 10px;
  color: gray;
  cursor: pointer;
}
#forms-habits .containe-crud  h3{
  font-size: 25px;
}
#forms-habits .containe-crud .parent-icon{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  transition: 0.4s;


}
#forms-habits .containe-crud .parent-icon .icon{
  width: 20px;
  height: 20px;
}
#forms-habits .containe-crud .parent-icon:hover {
  /* Appliquer le style sur le parent lors du survol de l'enfant */
  background-color: #e5e7e9; /* Exemple de couleur de fond */
}



#forms-habits form h3{
  font-size: 30px;

}

#forms-habits form input{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border:  1px solid rgba(190, 190, 190, 0.796);
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;

}
#forms-habits form button{
  border:  none;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
#forms-habits form button:hover{
  background-color: rgba(5, 5, 5, 0.845);
}




/* Container principale */
.tracking-container {
  
  /* flex-grow: 5; */
  flex: 70%;
  min-width: 600px;
  font-family: Arial, sans-serif;
  color: #333;
  
}

/* Titre principal */

/* Conteneur du tableau */
.table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #cbcbcb83;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Permet le scroll horizontal si nécessaire */
}

/* Titre du tableau */
.table-container h3 {
  font-size: 25px;
  margin-bottom: 20px;

}

.delete-btn {
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
  font-size: 16px;
}

.delete-btn:hover {
  color: red;
}

/* Style pour les cases à cocher */
input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

/* Style pour l'affichage du progrès */


.chek-box{
  width: 35px;
  height: 35px;
  border: none;
  background-color: #e5e7e9;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.chek-box i{
  font-size: 22px;
  color: blue;
}





table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
tr{
  overflow: scroll;

}
th, td {
  padding: 12px;
  /* min-width: 70px; */

  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
th {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #333;
  /* overflow: scroll; */

  text-align: center;
}
.checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #007bff;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.nbr-jr{
  text-align: left !important;
  padding-left: 30px;
  font-size: 22px;
  color: #007bff;
}

#th-jours{
  text-align: left;
  color: #5dade2;
}
.th-progress{
  text-align: right;
}
.th-progress-count{
  text-align: right;
  padding-right: 30px !important;
}


.edit-model{
  min-width: 400px;
  max-width: 900px ;
  width: 40%;
  position: fixed;
   top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
  padding: 40px  20px;
  border-radius: 6px;
  border: 1px solid #cbcbcb83;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000000;
  animation: anim 0.6s ;
 

}
@keyframes anim {
  0%{
    top: 0%;

  }
  100%{
    top: normal;

  }
  100%{
    top: normal;
    
  }
  0%{
    top: 0%;

  }

}

.edit-model form{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.edit-model h3{
  font-size: 30px !important;
}

.edit-model form h3{
  font-size: 30px;

}

.edit-model form input{
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border:  1px solid rgba(190, 190, 190, 0.796);
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;

}
.edit-model form button{
  border:  none;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.edit-model form button:hover{
  background-color: rgba(5, 5, 5, 0.845);
}



@media screen and (max-width: 1200px) {
  #forms-habits{
  

    flex-direction: column;
    align-items: normal;
    
  }

  #forms-habits form {
      width: 100%;
      min-width: 350px; /* Met le formulaire en pleine largeur */
      max-width: 75%; /* Ajuste la largeur maximale pour laisser un espace sur les côtés */
      margin: auto; /* Centre le formulaire à l'intérieur du conteneur */
  }
  #forms-habits .containe-crud {
      width: 100%;
      min-width: 350px; /* Met le formulaire en pleine largeur */
      max-width: 75%; /* Ajuste la largeur maximale pour laisser un espace sur les côtés */
      margin: auto; /* Centre le formulaire à l'intérieur du conteneur */
  }
  #forms-habits #row-1{
    flex-grow: 1;
    
  }
  body{
    padding: 30px;
  
  }
  .table-container {
    padding: 15px;

  }
  
  /* Titre du tableau */
  .table-container h3 {
    font-size: 20px;
    margin-bottom: 15px;
  
  }
  
  .delete-btn {
    font-size: 14px;
  }
  

  
  /* Style pour les cases à cocher */
  input[type="checkbox"] {
    transform: scale(1.1);
  }
  
  /* Style pour l'affichage du progrès */
  
  
  .chek-box{
    width: 25px;
    height: 25px;
    border-radius: 6px;

  }
  .chek-box i{
    font-size: 18px;
  }
  
  
  
  

  th, td {
    padding: 10px;
  }

  .checkbox {
    width: 20px;
    height: 20px;
  }
  .nbr-jr{
    text-align: left !important;
    padding-left: 10px;
    font-size: 18px;
    color: #007bff;
  }
  


  .th-progress-count{
    padding-right: 10px !important;
  }
  
}

@media screen and (max-width:600px){
  .tracking-container {
    width: 100%;
    min-width: 300px;
  }
  #forms-habits form {
    width: 70%;
    min-width: 250px; /* Met le formulaire en pleine largeur */
    max-width: 90%; /* Ajuste la largeur maximale pour laisser un espace sur les côtés */
  }
  #forms-habits .containe-crud{
    width: 70% !important;
    min-width: 250px !important; /* Met le formulaire en pleine largeur */
    max-width: 90% !important; 
  }
  #forms-habits  {
    align-items: normal;

  }
  #forms-habits .containe-crud {
    width: 80%;
    min-width: 250px; /* Met le formulaire en pleine largeur */
    max-width: 90%; /* Ajuste la largeur maximale pour laisser un espace sur les côtés */
  }
  body{
    padding-top: 40px;
    padding: 20px;

  }
  #forms-habits{
    gap: 15px;
    padding-top: 40px;
    
  }
  #forms-habits #row-1{

    gap: 10px;
  }

  #forms-habits form h3{
    font-size: 20px;
  
  }
  
  #forms-habits form input{

    padding: 6px;
    font-size: 16px;
    border:  1px solid rgba(190, 190, 190, 0.796);
    border-radius: 4px;
  
  }
  #forms-habits form button{
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 17px;
  }
  
}
  
  
  


